<h1>Edit {{product.title}}</h1>

<form action='/admin/edit-product/{{product._id}}' method='post'>
	<div class='form-floating mb-3'>
		<input
			class='form-control'
			id='title'
			placeholder='Title'
			name='title'
			value='{{product.title}}'
		/>
		<label for='title'>Title</label>
	</div>

	<div class='form-floating mb-3'>
		<input
			class='form-control'
			id='image'
			placeholder='Image URL'
			name='image'
			value='{{product.image}}'
		/>
		<label for='image'>Image</label>
	</div>

	<div class='form-floating mb-3'>
		<input
			class='form-control'
			id='price'
			placeholder='Price'
			name='price'
			value='{{product.price}}'
		/>
		<label for='price'>Price</label>
	</div>

	<button type='submit' class='btn btn-success'>Submit</button>
</form>