<h1>Shopping cart</h1>

{{#if products.length}}
	<table class='table table-stripped align-middle'>
		<thead>
			<tr>
				<th scope='col'>Product</th>
				<th scope='col'>Amount</th>
				<th scope='col'>Price</th>
				<th scope='col'>Action</th>
			</tr>
		</thead>
		<tbody>
			{{#each products}}
				<tr>
					<td class='d-flex gap-2 align-items-center'>
						<img
							src='{{this.image}}'
							alt='{{this.title}}'
							width='100'
							height='50'
						/><p class='fw-bold m-0'>Subaru</p>
					</td>
					<td>{{this.quantity}}</td>
					<td>${{this.price}}</td>
					<td>
						<form action='/card/delete/{{this.id}}' method='post' class='m-0'>
							<button
								class='btn btn-sm btn-danger'
								onclick="return confirm('Are you sure')"
							>Remove</button>
						</form>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
{{else}}
	<div class='alert alert-info text-center mt-5'>
		No items in card
	</div>
{{/if}}